In [ ]:
import pandas as pd
import numpy as np

DATA SHEET1 is a csv file created in excel and saved with ',' as delimete

In [ ]:
df = pd.read_csv(r"C:\Users\varun\OneDrive\Desktop\abhi\DATA - Sheet1.csv")

In [ ]:
pd.DataFrame(df)

              NAME     ROLL NO                    MAIL ID BRANCH  MARKS
0          B ADITYA  20EG107104  20eg107104@anurag.edu.in   AIML     67
1  D R DINESH KUMAR  20EG507101  20eg507101@anurag.edu.in   AIML     78
2     SUJEETH REDDY  20EG107145  20eg107145@anurag.edu.in   AIML     75
3          NAGARJUN  20EG107133  20eg107133@anurag.edu.in   AIML     98
4           DHEERAJ  20EG107150  20eg107150@anurag.edu.in   AIML     87

In [ ]:
df.to_csv("DATA", sep = ';')

Here we changed the delimeter of the file from ',' to ';'

In [ ]:
pd.read_csv("DATA")

                ;NAME ;ROLL NO ;MAIL ID;BRANCH;MARKS
0  0;B ADITYA;20EG107104;20eg107104@anurag.edu.in...
1  1;D R DINESH KUMAR;20EG507101;20eg507101@anura...
2  2;SUJEETH REDDY;20EG107145;20eg107145@anurag.e...
3  3;NAGARJUN;20EG107133;20eg107133@anurag.edu.in...
4  4;DHEERAJ;20EG107150;20eg107150@anurag.edu.in;...

In [ ]:
df

              NAME     ROLL NO                    MAIL ID BRANCH  MARKS
0          B ADITYA  20EG107104  20eg107104@anurag.edu.in   AIML     67
1  D R DINESH KUMAR  20EG507101  20eg507101@anurag.edu.in   AIML     78
2     SUJEETH REDDY  20EG107145  20eg107145@anurag.edu.in   AIML     75
3          NAGARJUN  20EG107133  20eg107133@anurag.edu.in   AIML     98
4           DHEERAJ  20EG107150  20eg107150@anurag.edu.in   AIML     87