In [ ]:
import pandas as pd

In [ ]:
S1 = pd.Series( )
print(S1)

Series([], dtype: float64)

C:\Users\Admin\AppData\Local\Temp/ipykernel_14788/2928049233.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  S1 = pd.Series( )

In [ ]:
S1 = pd.Series([2, 4, 6, 8, 10])
print(S1)

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [ ]:

S1 = pd.Series(["a","e","i","o","u"])
print(S1)

0    a
1    e
2    i
3    o
4    u
dtype: object

In [ ]:
A = (11, 22, 33, 44, 55)
S1 = pd.Series(A)
print(S1)

0    11
1    22
2    33
3    44
4    55
dtype: int64

In [ ]:
A = input("Enter your name  : ")
S1 = pd.Series(list(A))
print(S1)

Enter your name  : dinesh
0    d
1    i
2    n
3    e
4    s
5    h
dtype: object

In [ ]:
D = {"Jan" : 31, "Feb" : 28, "Mar" : 31}
S1 = pd.Series(D)
print(S1)

Jan    31
Feb    28
Mar    31
dtype: int64

In [ ]:
D = {6 : 140, 7 : 125, 8 : 100, 9 : 136, 10 : 200}
S1 = pd.Series(D)
print(S1)

6     140
7     125
8     100
9     136
10    200
dtype: int64

In [ ]:
S1 = pd.Series(12, index = [4, 6, 8])
print(S1)

4    12
6    12
8    12
dtype: int64

In [ ]:
S1 = pd.Series(range(1,15,3), index=[x for x in "super"])
print(S1)

s     1
u     4
p     7
e    10
r    13
dtype: int64

In [ ]:
S1 = pd.Series(range(100, 150, 10), index=[x for x in "My name is Amit Gandhi".split()])
print(S1)

My        100
name      110
is        120
Amit      130
Gandhi    140
dtype: int64

In [ ]:
L1=[1,"A",21]
S1 = pd.Series(data=2*L1)
print(S1)

0     1
1     A
2    21
3     1
4     A
5    21
dtype: object

In [ ]:
import numpy as num
arr=num.array([1,7,21])
S1 = pd.Series(arr)
print(S1)

0     1
1     7
2    21
dtype: int32

In [ ]:
import numpy as np
arr=num.array([1,7,21])
S1 = pd.Series(arr, index = (77,777))
print(S1)

ValueError: Length of values (3) does not match length of index (2)

In [ ]:
import numpy as np

In [ ]:
arr=np.array([31,47,121])
S1 = pd.Series(arr, index = (7,77,777))
print(S1[777])

121

In [ ]:
arr=np.array([31,47,121])
S1 = pd.Series(arr)
print(S1[0])

31

In [ ]:
L1 = list("My name is Ravi Kumar")
S1 = pd.Series(L1)
print(S1[0])

M

In [ ]:
L1 = list("My name is Ravi Kumar".split( ))
S1 = pd.Series(L1)
print(S1[0])

My

In [ ]:
arr = np.array([1,2,3,4,5])
S1 = pd.Series(arr)
print(S1)

0    1
1    2
2    3
3    4
4    5
dtype: int32

In [ ]:
S1 = pd.Series([31, 28, 31, 30, 31], index = ["Jan", "Feb", "May", "Apr", "May"])
print(S1["May"])

May    31
May    31
dtype: int64

In [ ]:
S1 = pd.Series([31, 28, 31, 30, 31], index = ["Jan", "Feb", "Mar", "Apr", "May"])
print(S1[ [0, 2, 4] ])

Jan    31
Mar    31
May    31
dtype: int64

In [ ]:
S1 = pd.Series([31, 28, 31, 30, 31], index = ["Jan", "Feb", "Mar", "Apr", "May"])
print(S1[0 : 2] * 2)

Jan    62
Feb    56
dtype: int64

In [ ]:
import pandas as pd
S1[3]=7000
print(S1)

Jan      31
Feb      28
Mar      31
Apr    7000
May      31
dtype: int64

In [ ]:
S1 = pd.Series([2, 5, 7, 10])
print(S1 + 2)
print(S1 * 2)
print(S1 ** 2)
print(S1 - 2)
print(S1 > 2)

0     4
1     7
2     9
3    12
dtype: int64
0     4
1    10
2    14
3    20
dtype: int64
0      4
1     25
2     49
3    100
dtype: int64
0    0
1    3
2    5
3    8
dtype: int64
0    False
1     True
2     True
3     True
dtype: bool